.feed-item  div
 padding-top 3%
 padding-bottom 3%
 
.feed-item
  div.feed-item-id
   text-align right
   padding-right 1%
   font-weight bold   
  div.feed-item-link
   text-align center
 
.feed-item
 border-bottom 1px dotted gray
 border-left 1px dotted gray
 border-right 1px dotted gray
